/* normalize */
body { margin: 0; }

/* global styles */
video {
  text-align: center;
  background-color: #111;
  width: 100%;
}

.heading {
  text-align: center;
  margin-bottom: 0;
}

.note {
  text-align: center;
}

.meta {
  text-align: center;
  font-size: .8rem;
  color: gray;
}

.container {
  margin: auto;
  width: 980px;
}

.p {
  color: white;
}

/* p2p-media styles */
.p2p-media .box1 {
  position: absolute;
	top: 10px;
	left: 100px;
	width: 1300px;
	height: 900px;
	background: #202124;
}

.p2p-media .box2 {
  position: absolute;
  text-align: center;
	top: 10px;
	right: 100px;
	width: 400px;
	height: 900px;
	background: #202124;
}

.p2p-media {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p2p-media .remote-stream {
  width: 100%;
}

.p2p-media .local-stream {
  right: 10px;
  left: 10px;
  width: 100%;
}
